:root {
  --yellowFontColor: #fede00;
  --darkBlueFontColor: #00005a;
  --whiteColor: #f0efed;
  --blackColor: #080b1b;
  --redColorHover: #c62828;
  --greenColorHover: #449e48;
  --yellowColorHover: #e6b400;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100%;
  overflow-x: hidden;
}

.HeaderDiv {
  position: relative;
  width: 100%;
  height: 80dvh;
  background: url(../Attachments/Backgrounds/pexels-nathan-j-hilton-9244882.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  top: 15px;
  width: 90%;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteColor);
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px;
  list-style-type: none;
}

nav ul li a {
  color: var(--blackColor);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--redColorHover);
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  text-decoration: underline;
}

.dropdownlistOne,
.dropdownlistTwo {
  margin: 0;
  display: none;
  flex-direction: column;
  background-color: var(--whiteColor);
  padding: 15px;
  position: absolute;
  top: 50px;
  transform: translateX(-10px);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.dropdownlistOne li,
.dropdownlistTwo li {
  font-weight: bold;
  font-size: 1.25em;
}

.leftNav li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sideMenuBtn {
  display: none;
}

.sideMenuBtn svg {
  fill: var(--blackColor);
}

.sidemenu {
  display: none;
  position: fixed;
  right: 0;
  background-color: #c62828;
  height: 100dvh;
  width: 500px;
}

.HeaderText {
  justify-self: center;
  align-self: center;
  color: var(--whiteColor);
  text-align: center;
  margin: auto;
}

.HeaderText h1 {
  font-size: 5em;
}

.HeaderText p {
  font-size: 1.25em;
}

.logo {
  width: 55px;
}

.logoText {
  font-size: 25px;
  font-weight: bold;
}

.headerbutton {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  bottom: 0;
}

.btnheader {
  fill: var(--whiteColor);
}

.btnheader:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  width: 120px;
  height: 120px;
  fill: var(--redColorHover);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 500px 500px;
  gap: 15px;
  place-items: center;
}

.card {
  display: block;
  width: 400px;
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.preO,
.availO,
.outFStk {
  color: white;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  font-weight: bold;
  right: 0;
  top: 15px;
}

.preO {
  background-color: var(--redColorHover);
}

.availO {
  background-color: var(--greenColorHover);
}

.outFStk {
  background-color: var(--yellowColorHover);
}

.cardContent {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.productName {
  font-size: 1.25em;
}

.priceTag {
  opacity: 0.75;
}

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 60dvw;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.75em;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--whiteColor);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

@media only screen and (max-width: 1046px) {
  nav {
    width: 100%;
    top: 0;
  }

  .rightNav li:not(.currency):not(.cart) {
    display: none;
  }

  .sideMenuBtn {
    display: inline-block;
    border: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .card {
    width: 550px;
  }

  .wrapper {
    gap: 25px;
  }

  .slider-wrapper {
    max-width: 85dvw;
  }
}
